#
# GENERAL CHANGES
#

body {
  font-size: 12px;
  margin: 0;
  padding: 0; }

p {
  font-size: 15px !important; }

.site {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

.row {
  width: 100%;
  margin-bottom: 10px; }

.column {
  width: 100%; }

a:visited {
  color: #2ba6cb; }


#
# Navigation
#

.top-bar {
  margin-bottom: 20px; }

.menu {
  padding: 8px; }
