#
# GENERAL CHANGES
#

.content {
  cursor: url("/assets/img/spencer.png"), crosshair;
}

h2 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

body {
  font-size: 12px;
  margin: 0;
  padding: 0; }

p {
  font-size: 15px !important; }

.site {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

.row {
  width: 80%;
  margin-bottom: 10px; }

.column {
  width: 100%; }

a:visited {
  color: #2ba6cb; }


#
# Navigation
#

.button {
  color:#dddddd; }

.button:visited {
    color:#dddddd; }

.button:hover {
  color:#ffffff; }
