<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="assets/img/favicon.ico">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} | Aikido.io</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/foundation.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

  <script type="text/javascript" src="/assets/js/vendor/custom.modernizr.js"></script>
  <script type="text/javascript" src="/assets/js/vendor/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/vendor/foundation.js"></script>
</head>
<body>
  <div class="site">
<!--    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap"> -->
        <div class="header" style="margin-bottom:40px;">

          <div class="top-bar">
            <div class="top-bar-left" style="margin-left:10%">
              <ul class="menu">
                <li class="menu">
                  <a href="/" style="color:#0a0a0a">Aikido.io</a>
                </li>
              </ul>
            </div>

            <div class="top-bar-right" style="margin-right:10%">
              <ul class="menu">
                <li>
                  <a href="/game.html">Game</a>
                </li>

                <li>
                  <a href="/memes/memes.html">Memes</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Side bar -->
       <!--<nav class="tab-bar show-for-small">
          <a class="left-off-canvas-toggle" href="#">
            <span>
              <&nbsp;Aikdo.io
            </span>
          </a>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li>
              <label>Menu</label>
            </li>
            <li>
              <a href="/">Aikdo.io</a>
            </li>
            <li>
              <a href="game.html">Game</a>
            </li>
            <li>
              <a href="/memes/memes.html">Memes</a>
            </li>
          </ul>
        </aside> -->

        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  $(document).foundation();
  </script>

</body>
</html>
